:host {
  display: block;
}

.bars-loader {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  height: 24px;
}

.bars-loader span {
  width: 4px;
  height: 100%;
  background-color: #4f7cff;
  animation: bars 1s infinite ease-in-out;
  border-radius: 2px;
}

.bars-loader span:nth-child(1) { animation-delay: 0s; }
.bars-loader span:nth-child(2) { animation-delay: 0.1s; }
.bars-loader span:nth-child(3) { animation-delay: 0.2s; }
.bars-loader span:nth-child(4) { animation-delay: 0.3s; }
.bars-loader span:nth-child(5) { animation-delay: 0.4s; }

@keyframes bars {
  0%, 100% {
    height: 30%;
    opacity: 0.5;
  }
  50% {
    height: 100%;
    opacity: 1;
  }
}
