<div class="w-full mx-auto px-12 py-6">
  <button routerLink="/status" class="absolute top-4 left-2 ml-4 text-gray-600 hover:text-blue-600 transition">
    <ng-icon name="heroHomeModern" class="w-10 h-10 scale-150"></ng-icon>
  </button>
  <ng-content></ng-content>
  @if (loading) {
  <div class="absolute inset-0 flex items-center justify-center bg-white/70 backdrop-blur-sm z-50">
    <div class="flex flex-col items-center gap-2">
      <div class="flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-8 h-8 text-softBlue animate-spin-slow">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3 3v18h18M9 17V9m4 8V5m4 12v-4" />
        </svg>
      </div>
      <p class="text-gray-700 font-medium">Cargando...</p>
    </div>
  </div>
  }
</div>