.bar-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.bar {
  transition: fill 0.2s;
}
.bar:hover {
  fill: #6366f1;
}
