/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
}


.mat-mdc-snack-bar-container {
  background-color: rgba(30, 30, 30, 0.95) !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.mat-mdc-snack-bar-label {
  font-size: 0.95rem;
  font-weight: 500;
}

.mat-mdc-snack-bar-action {
  color: #096299 !important; 
}

.mat-mdc-button .mdc-button__label{
  color: #ffffff !important; 
}
