<das-container [menuVisible]="true" [processVisible]="processEnabled()" 
    (onSearch)="openDatasetModal()"
    (onDelete)="onDelete()"
    (onProcess)="onProcess()">  
  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-12 p-4">
    <div class="p-2 bg-white rounded-xl shadow hover:shadow-lg transition col-span-3">
      <h2 class="text-m font-semibold mt-3">{{dataset().name }}</h2>
      <p class="text-sm text-gray-500">{{ dataset().description }}</p>
      <p class="text-xs text-blue-500 font-medium mt-2">{{ dataset().status }}</p>
      <p class="text-xs text-gray-400 mt-1">Tabla: {{ dataset().table_name }}</p>
    </div>
    <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition col-span-1">
      <das-hate-filter (filterChange)="hateFilter.set($event)"> </das-hate-filter>
    </div>
    <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition col-span-1">
      <das-hate-type-filter (filterChange)="hateTypeFilter.set($event)" [isDisabled]="hateFilter()===false">
      </das-hate-type-filter>
    </div>
  </div>
   
<mat-tab-group
  animationDuration="0ms"
  dynamicHeight
  (selectedIndexChange)="onTabChange($event)"
>

  <mat-tab label="Frecuencias">
      <ng-template matTabContent>
       <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4 p-4">

    <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition col-span-1">
      <das-pie-chart [data]="hateData()" [width]="300" [height]="250" [innerRadius]="80" [showLabels]="true"
        [isLoading]="store.loadingHate()"  [chartTitle]="hateChartTitle">
      </das-pie-chart>
    </div>
    <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition col-span-1">
      <das-bar-chart [data]="store.typeResult()" [isLoading]="store.loadingHate()" class="w-full md:w-1/2 lg:w-1/3"
        [height]="250" chartTitle="Distribución de Tipo de Odio" color= '#f0b342ff'>
      </das-bar-chart>
    </div>
    <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition col-span-1">
      <das-bar-chart [data]="store.intensityResult()" [isLoading]="store.loadingHate()" [height]="250"
        chartTitle="Distribución de Intensidad de Odio" color='#dbb0e6ff'>
      </das-bar-chart>
    </div>
    <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition col-span-1">
      <das-bar-chart [data]="store.subtypeResult()" [isLoading]="store.loadingHate()" [height]="250"
        chartTitle="Distribución de Subtipo de Odio" color= '#ef6060ff'>
      </das-bar-chart>
    </div>
  </div>
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4 p-4">
    <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition col-span-1">
      <das-bar-chart [data]="languageData()" [isLoading]="store.loadingHate()" [height]="250"
        chartTitle="Distribución de Idioma" (barClick)="onBarClicked($event)">
      </das-bar-chart>
    </div>
    <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition col-span-1">
      <das-bar-chart [data]="userData()" [isLoading]="store.loadingHate()" [height]="250"
        chartTitle="Distribución de Usuario">
      </das-bar-chart>
    </div>
    <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition col-span-1">
      <das-bar-chart [data]="hashtagData()" [isLoading]="store.loadingHate()" [height]="250" [extraLabelSpace]="true" [ticks]="3"
        chartTitle="Distribución de Hashtag">
      </das-bar-chart>
    </div>
    <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition col-span-1">
      <das-bar-chart [data]="emojiData()" [isLoading]="store.loadingHate()" [height]="250" [zoom]="true"
        chartTitle="Distribución de Emojis">
      </das-bar-chart>
    </div>
  </div>
   </ng-template>
  </mat-tab>

  <mat-tab label="Nubes">
     <ng-template matTabContent>
   <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4 p-4">
    <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition col-span-2">
      <das-word-cloud [data]="wordData()" [isLoading]="store.loadingHate()" [height]="250"
        chartTitle="Nube de Palabras"  >
      </das-word-cloud>
    </div>
    <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition col-span-2">
      <das-word-cloud [data]="entityData()" [isLoading]="store.loadingHate()" [height]="250"
        chartTitle="Nube de Entidades"  >
      </das-word-cloud>
      <p>dd{{activeTab()}}</p>
    </div>
  </div>
</ng-template>
  </mat-tab>

  <mat-tab label="Ventas">
      <ng-template matTabContent>
      </ng-template>

  </mat-tab>

</mat-tab-group>










 <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4 p-4">
        <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition col-span-2">
      <das-histo-chart [data]="store.rawLengthResult()" [isLoading]="store.loadingHate()"
        chartTitle="Histograma de Longitud Original" description="* Representa la distribución de la longitud de los mensajes originales capturados desde la fuente.">
      </das-histo-chart >
    </div>
    <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition col-span-2">
      <das-histo-chart [data]="store.cleanedLengthResult()" [isLoading]="store.loadingHate()"
        chartTitle="Histograma de Longitud sin Ruido" description="* Representa la distribución de la longitud de los mensajes después de haber eliminado el ruido causado por referencias a URLs, hashtags, usuarios y emojis.">
      </das-histo-chart >
    </div>
   </div>
   

 
<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4 p-4">
        <div class="p-4 bg-white rounded-xl shadow hover:shadow-lg transition col-span-2">
          <das-boxplot-chart [data]="databox" [height]="300" chartTitle="Longitud por tipo de Odio">

          </das-boxplot-chart>
        </div>
   </div>
  
</das-container>